* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(89, 86, 86);
}

.col-span3 {
  grid-column: span 3;
}

.col-span4 {
  grid-column: span 4;
}

.row-span4 {
  grid-row: span 4;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-content: center;
  align-content: space-between;
  height: 100vh;

  border: greenyellow solid 3px;
}

.article1 {
  border: red solid 3px;
  font-family: 'Tangerine', serif;
  text-align: center;
  font-size: 3rem;
}

.article2 {
  border: red solid 3px;
}

.article3 {
  border: red solid 3px;
}

.article4 {
  border: red solid 3px;
}

.article5 {
  border: red solid 3px;
}